name: labels
on:
  push:
    branches: [main]
    paths:
      - .github/labels.yml
      - .github/workflows/labels.yml
jobs:
  labeler:
    permissions:
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crazy-max/ghaction-github-labeler@v5
        with:
          yaml-file: .github/labels.yml
